.img {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    padding-left: 840px;
    padding-top: 150px;
    
}



.isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;

}